/* start custom scss snippet */

ul > li {
  margin-left: 1rem;
}

.sidebar {
  float: left;
  margin-top: 1rem;

  display: flex;
  @include justify-content(center);
  flex-direction: column;

  @include media-breakpoint-up(md) {
    margin-top: 5rem;

    width: calc(30% - 2rem);
    margin-right: 2rem;
  }
}

.home-content {
  float: right;
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    width: 70%;
  }
}

.home-image {
  img {
    border-radius: 10%;
  }

  @include media-breakpoint-down(md) {
    width: 75%;
  }
}

.home-row-wrapper {
  @include media-breakpoint-down(md) {
    display: flex;
    @include justify-content(space-between);
    @include flex-direction(row-reverse);
  }
}

.flex-space-around {
  display: flex;
  @include justify-content(space-around);
  @include flex-direction(column);

  @include media-breakpoint-up(md) {
    @include justify-content(space-around);
    @include flex-direction(row);
  }
}

.socials-row {
  display: flex;
  @include justify-content(space-around);
  @include flex-direction(row);

  gap: 1rem;

  white-space: nowrap;
  flex-wrap: wrap;
  
  @include media-breakpoint-down(md) {
    gap: 0.25rem;
  }

  // >*>span {
  //   @include media-breakpoint-down(md) {
  //     display: none;
  //   }
  // }

  // @include media-breakpoint-up(md) {
  //   @include justify-content(center);
  //   @include flex-direction(column);

  //   width: 30%;
  // }
}

.socials-icon {
  color: #000;
  margin-right: 0.5rem;

  display: inline-block;

  >svg {
    display: inline-block;
  }
}

.socials-row>.button {
  display: flex;
  @include align-items(center);
}

/* end custom scss snippet */