/* start custom scss snippet */

.home-image {
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    width: 30%;
  }

  img {
    border-radius: 10%;
  }
}

.flex-space-around {
  display: flex;
  @include justify-content(space-around);
  @include flex-direction(column);

  @include media-breakpoint-up(md) {
    @include justify-content(space-around);
    @include flex-direction(row);
  }
}

.socials-col {
  display: flex;
  @include justify-content(space-around);
  @include flex-direction(row);

  gap: 1rem;
  
  white-space: nowrap;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    @include justify-content(center);
    @include flex-direction(column);

    width: 30%;
  }
}

.socials-icon {
  color: #000;
  margin-right: 0.5rem;
}

.socials-icon:has(svg) {
  display: inline-block;
  > svg {
    display: inline-block;
  }
}

.button:has(.socials-icon) {
  display: flex;
  @include align-items(center)
}

/* end custom scss snippet */