---
layout: page
---

<div class="home-row-wrapper">
  <div class="socials-row">
    <div>
      <i class="socials-icon fas fa-map-marker-alt"></i>
      <span><strong>San Diego, CA</strong></span>
    </div>

    <a class="button" href="https://twitter.com/bharadiadinesh" target="_blank">
      <div class="socials-icon">
        {%- include svg/icon/social/twitter.svg -%}
      </div>
      <span>Twitter</span>
    </a>

    <a class="button" href="https://github.com/orgs/ucsdwcsng/" target="_blank">
      <div class="socials-icon">
        {%- include svg/icon/social/github.svg -%}
      </div>
      <span>Github</span>
    </a>

    <a class="button" href="https://orcid.org/0000-0002-3518-4722" target="_blank">
      <div class="socials-icon">
        {%- include svg/icon/social/orcid.svg -%}
      </div>
      <span>ORCID</span>
    </a>

    <a class="button" href="https://scholar.google.com/citations?user=5SjaXJsAAAAJ&hl=en" target="_blank">
      <i class="socials-icon fas fa-graduation-cap"></i>
      <span>Google Scholar</span>
    </a>
  </div>

  <div class="sidebar">
    <div class="home-image">
      <img src="/assets/images/WebpageNewPic.jpg" width="100%" />
    </div>
    <h3>Dinesh Bharadia</h3>
    <h6>Associate Professor</h6>

    <h4 style="margin-bottom: 0; margin-top: 2rem;">Office Hours</h4>
    <p>Atkinson Hall 4308, 9500 Gilman Dr., UC San Diego</p>
    <p>Mondays 3 pm to 4 pm or by Appointment</p>
  </div>
</div>

<div class="home-content">
  {{ content }}
</div>